<!DOCTYPE html>
<html>
<head>
  
  <meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}

body, html {
  height: 100%;
  width: 100%;
  line-height: 1.8;
}
</style>


  <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>answer</title>
    <style>
      .responsive {
        border: 2px !important;
        max-width: 99%;
        height: auto;
      }
    </style>
</head>
<body>
  <form action = "/" method = "get">
    <div class="w3-container" style="padding:5px; background-color: white">
      <span style="background-color: yellow">Text</span> is sensitive <br>
        <span style="background-color: #ffffb4">Text</span> doesn't belong to the keyword dictionary <br>
        <span style="background-color: #8ffff3">Text</span> = error came while calculating IC <br>
        <br>
      <center>
        <p><b>Original Text</b></p>
        {{content}}
        <p><b>Redacted text</b></p>
        {{answer[2]}}
        <br><br>
        <p><b>Highlighted Text</b></p> 
        {% for x in range(answer[0]|length) %}
          {% if (answer[3][x] == 'NA') %}
            <span>{{answer[0][x]}}</span>
          {% elif (answer[3][x] == -0.0) %}
            <span style="background-color: #8ffff3">{{answer[0][x]}}</span>
          {% elif (answer[5][x]=='Yes') %}
            <span style="background-color: yellow">{{answer[0][x]}}</span>
          {% else %}
            <span style="background-color: #ffffb4">{{answer[0][x]}}</span>
          {% endif %}
        {% endfor %}
        <br><br>
      <input type = "submit" value = "Return" />
      <br><br>
        <p><b>Information Table</b></p>
        <br>
        <table border = 1 style="text-align:center">
          <tr>
            <th>Tokentized text</th>
            <th>POS Tags</th>
            <th>Information Content <br>threshold = {{answer[4]}}</th>
            <th>Sensitive</th>
          </tr>
          {% for x in range(answer[0]|length) %}
            {% if (answer[3][x] == 'NA') %}
              <tr>
                <td>{{answer[0][x]}}</td>
                <td>{{answer[1][x]}}</td>
                <td>{{answer[3][x]}}</td>
                <td>{{answer[5][x]}}</td>
              </tr>
            {% elif (answer[3][x] == -0.0) %}
              <tr style="background-color: #8ffff3">
                <td>{{answer[0][x]}}</td>
                <td>{{answer[1][x]}}</td>
                <td>{{answer[3][x]}}</td>
                <td>{{answer[5][x]}}</td>
              </tr>
            {% elif (answer[5][x]=='Yes') %}
            <tr style="background-color: yellow">
                <td>{{answer[0][x]}}</td>
                <td>{{answer[1][x]}}</td>
                <td>{{answer[3][x]}}</td>
                <td>{{answer[5][x]}}</td>
              </tr>
            {% else %}
            <tr style="background-color: #ffffb4">
                <td>{{answer[0][x]}}</td>
                <td>{{answer[1][x]}}</td>
                <td>{{answer[3][x]}}</td>
                <td>{{answer[5][x]}}</td>
              </tr>
            {% endif %}
          {% endfor %}
        </table>
      sensitive parts are highlighted in yellow
      
      </center>
    </div>
    </form>
    <!-- <img src="static/images/{{imgLink}}" alt="{{imgLink}} not found">
    <img src="/home/ritwik/flask/templates/images/45711.png" alt="{{ imgLink }} not found"> -->
</body>
</html>
